<h3><%= @figure.name %></h3>
<h4>Titles:</h4>
<ul>
<% @figure.titles.each do |title| %>
  <li><%= title.name %></li>
<% end %>
</ul>
<h4>Landmarks:</h4>
<ul>
<% @figure.landmarks.each do |landmark| %>
  <li><a href="/landmarks/<%= landmark.id %>"><%= landmark.name %> - Year Completed: <%= landmark.year_completed %></li>
<% end %>
</ul>